{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mr-auto">
        <form>
            <div class="row">
                <div class="col-12">
                    <div class="col-12 px-2">
                        <div class="input-group mb-3">
                            <div class="col-xl-9 col-l-9 col-md-12 col-xs-12">
                                <input type="text" name="q" class="form-control col-xs-12 col-md-12" placeholder="Search Books by Author or ISBN...">
                            </div>
                            <div class="input-group-append">
                                <div class="btn-group btn-group-toggle col-3" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="searchBy" class="form-control" id="Author" value="Author" checked> Author
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="searchBy" class="form-control" id="ISBN" value="ISBN"> ISBN
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr class="col-xs-12">
    </div>
    <div class="container col-11">
        <div class="row mb-2">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"><b>Title</b></div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 d-none d-lg-block d-xl-bloc d-sm-block"><b>Authors</b></div>
            <div class="col-3 d-none d-lg-block d-xl-block""><b>ISBN</b></div>
            <div class="col-2 d-none d-lg-block d-xl-block""><b>Price</b></div>

        </div>

        {% for book in books %}
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.title }}</a></div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 d-none d-lg-block d-xl-bloc d-sm-block">
                {% for author in book.authors %}
                        {{ author }}
                {% endfor %}
            </div>
            <div class="col-3 d-none d-lg-block d-xl-block">{{ book.isbn }}</div>
            <div class="col-2 d-none d-lg-block d-xl-block">{{ book.price }}</div>

        </div>
            <hr class="col-xs-12">

        {% endfor %}
    </div>


    <div class="container">
        <div class="navigation pb-4">
            {{ knp_pagination_render(books) }}
        </div>
    </div>
        {% endblock %}
