{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mr-auto">
        <form>
        <div class="row">
            <div class="col-12">
                <div class="col-12 px-2">
                    <div class="input-group mb-3">

                        <input type="text" name="q" class="form-control" placeholder="Search Books by Author or ISBN...">
                        <div class="input-group-append">
                        <div class="btn-group btn-group-toggle col-3" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="searchBy" class="form-control" id="Author" value="Author" checked> Author
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="searchBy" class="form-control" id="ISBN" value="ISBN"> ISBN
                            </label>
                        </div>
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">
                                <span class="fa fa-search"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <hr class="col-xs-12">

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Isbn</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.title }}</td>
                {% for author in book.authors %}
                    <td> {{ author }} </td>
                {% endfor %}
                <td>{{ book.isbn }}</td>
                <td>{{ book.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new book</a>
        </li>
    </ul>
    </div>
{% endblock %}
