{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row align-items-center d-none d-lg-block d-xl-block" id="loginBoxPortrait">
    <div class="col-lg-3 col-md-6 col-sm-12 col-cs-12 shadow p-4 mb-2 bg-white login-box">
        <div class="row row justify-content-md-center mb-1">
            <img src="{{ asset('styleelements/logo.png') }}">
        </div>
        <hr class="col-xs-12">
        <div class="row justify-content-md-center mb-4">
            <span class="display-4" style="font-size: 2.0rem">Login</span>
        </div>
        <div class="form-group">
            <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
                <div class="row justify-content-md-center">
                    <input type="text" class="form-control col-10 mb-1" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="username" style="background-color: rgb(245,245,245); border:none"/>
                </div>
                <div class="row justify-content-md-center">
                    <input type="password"  class="form-control  col-10 mb-1" name="_password" required="required" autocomplete="current-password" placeholder="password" style="background-color: rgb(245,245,245); border:none"/>
                </div>
                <div class="row justify-content-md-center">
                    <a href="#" class="forgot-password">forgot password</a>
                </div>
                <div class="row justify-content-center">
                    <a href="{{ path('fos_user_registration_register') }}" class="forgot-password">register</a>
                </div>
                <div class="row justify-content-md-center">
                    <input type="submit"  class="btn btn-success  col-10 mt-2"  name="_submit" value="{{ 'security.login.submit'|trans }}" style="background-color: rgb(31,179,114)"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-xl-none d-lg-none  d-lg-none d-md-none d-md-block d-sm-block justify-content-md-center" id="login-screen-landscape" style="background-color: rgb(250,250,250)">
    <div class="container col-10 login-box" style="background-color: rgb(250,250,250)">
        <div class="row justify-content-center mb-1">
            <img src="{{ asset('styleelements/logo.png') }}">
        </div>
        <hr class="col-xs-12">
        <div class="row justify-content-center mb-4">
            <span class="display-4" style="font-size: 2.0rem">Login</span>
        </div>
        <div class="form-group">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="row justify-content-center">
                    <input type="text"  class="form-control col-10 mb-1" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="username" style="background-color: rgb(245,245,245); border:none"/>
                </div>
                <div class="row justify-content-center">
                    <input type="password" class="form-control  col-10 mb-1" name="_password" required="required" autocomplete="current-password" placeholder="password" style="background-color: rgb(245,245,245); border:none"/>
                </div>
                <div class="row justify-content-center">
                    <a href="#" class="forgot-password">forgot password</a>
                </div>
                <div class="row justify-content-center">
                    <a href="{{ path('fos_user_registration_register') }}" class="forgot-password">register</a>
                </div>
                <div class="row row justify-content-center">
                    <input type="submit"  class="btn btn-success  col-10 mt-2"  name="_submit" value="{{ 'security.login.submit'|trans }}" style="background-color: rgb(31,179,114)"/>
                </div>
            </form>
        </div>
    </div>
</div>
